<footer
    class="w-full bg-dark-gray text-prose text-sm py-4 px-6 mt-auto flex justify-between"
>
    <div class="copyright text-left">&copy; {% year %} NLVMS e.V.</div>
    <div class="text-right">
        <a href="/impressum/">Impressum</a>
    </div>
</footer>
