@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
    }

    #header {
        border-bottom: 1px solid #51555d;
    }

    #main {
        @apply py-4 px-4 space-y-8 mx-auto;
        ul {
            list-style: disc;
        }
    }

    #header li.active {
        @apply underline;
    }

    .text-prose {
        color: theme(colors.gray.200);
    }

    .fill-prose {
        fill: theme(colors.gray.200);
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        @apply bg-dark-gray-light/50 rounded-xl;

        table {
            @apply my-0 table-auto;
            @apply prose-td:p-0 prose-th:p-0;
            @apply prose-thead:border-none prose-tr:border-none;
            @apply prose-th:text-left;
        }
    }

    .card-img {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .btn {
        @apply px-2 rounded-md bg-gray-200 text-black;
    }

    .btn-selected {
        @apply bg-teal-500 text-gray-200;
    }

    /* drop down menu */
    .menu {
        float: left;
        overflow: hidden;
    }

    /* hide checkbox */
    #hamburger {
        position: absolute;
        opacity: 0;
        right: 0;
    }

    /* toggle menu */
    #hamburger:checked ~ .menu-content {
        display: block;
    }

    /* menu content (hidden by default) */
    .menu-content {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        left: 0;
        right: 0;
        z-index: 1;
        transform: translateY(8px);

        a {
            float: none;
            padding: 8px 16px;
            display: flex;
            text-align: left;
            align-items: center;
        }
    }

    @media screen(sm) {
        .menu {
            position: static;
        }

        .menu-content {
            left: auto;
            right: auto;
            min-width: 220px;

            @apply rounded-xl;
        }

        .menu-content a:first-child:hover {
            @apply rounded-t-xl;
        }

        .menu-content a:last-child:hover {
            @apply rounded-b-xl;
        }
    }
}
