---
title: Home page
layout: frontpage
header:
    image: src/assets/images/sunset_banner.jpeg
eleventyImport:
    collections: ["posts"]
---

<p>
    <i>Sonnenuntergang auf der Heide. Lass uns wieder vom Fliegen träumen.</i>
</p>

