---
title: Neuigkeiten
layout: narrow
eleventyNavigation:
    key: News
    order: 0
    icon: sparkles.njk
eleventyImport:
    collections: ["posts"]
---

<h3>Neuigkeiten</h3>
{%- set posts = collections.posts -%}
{%- include "posts.njk" -%}
