---
layout: base
eleventyNavigation:
  key: Wetter
  order: 2
meta:
  title: Wetter
---

<h3>Vorhersagen</h3>

<div>
<p align="center">
<iframe 
  height='365' name='FC3'
  style='border:1px solid;border-radius:10px;border-color:transparent;'
  src='https://api.wetteronline.de/wetterwidget?gid=10379&modeid=FC3&seourl=potsdam&locationname=Potsdam&lang=de'>
</iframe>
</p>
</div>

<h3>Wetterwarnungen</h3>

<img 
  class="rounded-md"
  src="https://www.dwd.de/DWD/warnungen/warnstatus/SchilderPD.jpg">
