<!doctype html>
<html lang="{{ meta.lang or site.lang }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ site.title }} - {{ title or meta.title }}</title>
        {% include "meta.njk" %}
        <link rel="stylesheet" href="/assets/css/index.css" />
    </head>

    <body class="bg-dark-gray text-prose">
        {% include "header.njk" %}
        {{ content | safe }}
        {% include "footer.njk" %}
    </body>
</html>
