---
layout: base
---

{% if header.image %}
    {% image header.image, "alt text", {class:"w-full"} %}
{% endif %}

<main id="main">
    <article class="prose prose-invert">{{ content | safe }}</article>
</main>
